@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Faculty+Glyphic&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.main-container {
    font-family: "Barlow Semi Condensed", serif;
    gap: 20px;
}

.main-container .daniel{
    background-color: hsl(263, 55%, 52%);
    padding: 3em;
    border-radius: 0.5em;
    width: 49em;
}



.main-container .daniel img {
    border-radius: 50%;
    border: 3px solid hsl(263, 43%, 58%);
    margin-right: 15px;
    max-width: 5%;
}

.avatar{
    margin-bottom: 20px;
}


.main-container .jona{
    background-color: hsl(217, 19%, 35%);
    padding: 2em;
    border-radius: 0.5em;
    width: 18em;
}

.main-container .jona img {
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);
    margin-right: 15px;
    max-width: 14%;
}

.main-container .jean{
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
    border-radius: 0.5em;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 20em;
}

.main-container .jean img {
    border-radius: 50%;
    margin-right: 15px;
    max-width: 16%;
}

.jean p{
    color: hsl(217, 19%, 35%)
}

.jean h1{
    color: hsl(217, 19%, 35%);
}

.jean h2{
    color: hsl(217, 19%, 35%);
    font-weight: 200;
}

.main-container .patrick{
    background-color: hsl(219, 29%, 14%);
    padding: 2em;
    border-radius: 0.5em;
    width: 44em;
}

.main-container .patrick img {
    border-radius: 50%;
    border: 3px solid hsl(263, 43%, 58%);
    margin-right: 15px;
    max-width: 5%;
}

.main-container .kira{
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
    border-radius: 0.5em;
    grid-column-start: 4;
    grid-column-end: 5;
}

.main-container .kira img {
    border-radius: 50%;
    margin-right: 15px;
    max-width: 16%;
}

.kira p{
    color: hsl(217, 19%, 35%)
}

.kira h1{
    color: hsl(217, 19%, 35%)
}

.kira h2{
    color: hsl(217, 19%, 35%);
    font-weight: 200;
}

p{
    color: hsl(0, 0%, 81%);
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.3em;
    font-size: 18px;
    
}

p span {
    font-size: 1.6em;
    font-weight: 600;
    color: hsl(0, 0%, 100%);

}

p span.grey {
    color: hsl(217, 19%, 35%);
    font-weight: 500;

}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 19px;
}


h2{
    color: hsl(0, 0%, 81%);
    font-weight: 200;
    font-size: 16px;
}

.avatar{
    display:flex;
    align-items: center;
}

.avatar-content{
flex: 1;
}