@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Faculty+Glyphic&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 36%, 96%);
    color: hsl(217, 19%, 35%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container{
    gap: 20px;
    margin: 0 auto;
}

svg {
    position: absolute;
    z-index: 1; 
    opacity: 0.9;
}

.main-container .daniel {
    background-color: hsl(263, 55%, 52%);
    padding: 2em;
    border-radius: 0.5em;
}

.main-container .daniel img {
    border: 3px solid hsl(263, 43%, 58%);
}

article .avatar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    }

article .avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.main-container .jona{
    background-color: hsl(217, 19%, 35%);
    padding: 2em;
    border-radius: 0.5em;
}

.main-container .jona img {
    border: 2px solid hsl(0, 0%, 100%);
    margin-right: 15px;
}

.jona p{
    margin-top: 20px;
    line-height: 1.4em;
}

.main-container .jean{
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 20px 5px 500px 5px rgba(72, 57, 148, 0.2);
}

.jean p{
    color: hsl(217, 19%, 35%);
}

.jean h1{
    color: hsl(217, 19%, 35%);
}

.jean h2{
    color: hsl(217, 19%, 35%);
    font-weight: 200;
}

.main-container .patrick{
    background-color: hsl(219, 29%, 14%);
    padding: 2em;
    border-radius: 0.5em;
}

.main-container .patrick img {
    border: 3px solid hsl(263, 43%, 58%);
}

.main-container .kira{
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 20px 20px 500px 5px rgba(72, 57, 148, 0.2);

}

.kira p{
    color: hsl(217, 19%, 35%)
}

.kira h1{
    color: hsl(217, 19%, 35%)
}

.kira h2{
    color: hsl(217, 19%, 35%);
    font-weight: 200;
}

p{
    color: hsl(0, 0%, 81%);
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.3em;
    font-size: 18px;
    position: relative;
    z-index: 2;
}

p span {
    font-size: 1.6em;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 2;
    line-height: 1.2em;
}

p span.grey {
    color: hsl(217, 19%, 35%);
    font-weight: 500;
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 19px;
    position: relative;
    z-index: 2;
}

h2{
    color: hsl(0, 0%, 81%);
    font-weight: 200;
    font-size: 16px;
    position: relative;
    z-index: 2;
}


@media (min-width: 375px){

    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 2em;
        max-width: 27.6em;
    }

}

@media (min-width: 1448px){

    body{
        height: 100vh;
    }

    svg {
            margin-left: 25em;
            margin-top: -2.1em;
    }

    .main-container {
        display: grid;
        grid-template-areas:
        "daniel daniel jona kira"
        "jean patrick jona kira";;
        max-width: 1500px;
    }

    .main-container .daniel{
        width: 43em;
        grid-area: daniel;
    }

    .main-container .jona{
        width: 18.7em;
        grid-area: daniel jona;
        margin-left: -24.7em;
        height: 19.3em;
    }

    .main-container .jean{
        width: 18em;
        grid-area: jean;
    }

    .jean p{
        width: 15em;
    }

    .main-container .patrick{
        width: 44em;
        grid-area: patrick;
    }

    .main-container .kira{
        width: 15.7em;
        grid-area: kira;
        margin-left: -2em;
    }

    .main-container .kira img {
        margin-right: 15px;
    }
}