@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body, html{
    background-color: #d5e3f0;
    font-family: "Sour Gummy", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.main-container{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 1.2em;
    max-width: 20em; /*Para hacerlo web responsive utilizamos el max-width */
    text-align: center;
}

img {
    border-radius: 1.2em;
    width: 100%;
}

p strong{
    font-size: 1.3em;
}

p {
    font-size: 1.2em;
}