@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #d5e3f0;
    font-family: "Sour Gummy", sans-serif;;
}

div.main-container {
    background-color: white;
    border-radius: 1.2em;
    margin: auto;
    width: 20%;
    transform: translateY(18%);
    text-align: center;
}
.main-container{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 1.2em;
    width: 100%;
}

p strong{
    font-size: 25px;
}

p {
    font-size: 20px;
}